* {
    box-sizing: border-box;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: #141b1c;
    font-family: 'Montserrat';
    
   
}

@import "basic.scss";
