* {
    box-sizing: border-box;
}

.cards {
    display: flex;
    background-color: #141b1c;
    width: 1440px;
    height: auto;
    font-family: 'Montserrat';
    margin: 0;
    padding: 115px 132px 115px 130px ;
   
}

@import "basic.scss";
