
.green-button, .basic-price {
    background-color: rgb(91, 177, 137);
}

.blue-button, .business-price {
    background-color: rgba(58, 107, 165, 1);
}

.orange-button, .website-price {
    background-color: rgba(236, 99, 42, 1);
}